@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Cabin Sketch", sans-serif;
}

body {
  background-image: url(../img/indexFundo.jpg);
  background-position: center; /* Centraliza horizontal e verticalmente */
  background-repeat: no-repeat; /* Evita repetição */
  background-size: cover; /* Cobre o container sem distorcer */
  height: 100vh;
}

.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#title {
  color: #a0a0a0;
  font-size: 150px;
  /* text-shadow: 15px 15px 20px black; */
  background-color: transparent;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 5px;
  border: 3px solid #969696;
  cursor: default;
}

.button {
  flex-direction: row;
}

button {
  padding: 10px;
  margin: 4px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 40px;
  /* box-shadow: 10px 10px 15px black; */
  font-weight: bold;
  flex-direction: row;
  border: none;
  cursor: pointer;
}

/* .botaoMath {
  background-color: #d37676;
  border: 3px solid #945252;
  color: #945252; 
}
.botaoCien {
  background-color: #99ebf1;
  border: 3px solid #62989c;
  color: #62989c;
}
.botaoGeo {
  background-color: #8ca57f;
  border: 3px solid #5d6d54;
  color: #5d6d54;
}
.botaoPort {
  background-color: #dad47f;
  border: 3px solid #9c9754;
  color: #9c9754;
} */

.botaoDesafio {
  background-color: transparent;
  color: #bfa200;
  border: 2px solid #bfa200;
  position: relative;
}
.botaoDesafio::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #bfa200;
  transition: width 0.4s ease;
  z-index: -1;
}
.botaoDesafio:hover::after {
  width: 100%;
}
.botaoDesafio:hover {
  color: white;
}

.botaoMath {
  background-color: transparent;
  color: #923434;
  border: 2px solid #923434;
  position: relative;
}

.botaoMath::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #923434;
  transition: width 0.4s ease;
  z-index: -1;
}

.botaoMath:hover::after {
  width: 100%;
}

.botaoMath:hover {
  color: white;
}

.botaoCien {
  background-color: transparent;
  color: #408c91;
  border: 2px solid #408c91;
  position: relative;
}

.botaoCien::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #408c91;
  transition: width 0.4s ease;
  z-index: -1;
}

.botaoCien:hover::after {
  width: 100%;
}

.botaoCien:hover {
  color: white;
}

.botaoGeo {
  background-color: transparent;
  color: #1f8d4d;
  border: 2px solid #1f8d4d;
  position: relative;
}

.botaoGeo::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1f8d4d;
  transition: width 0.4s ease;
  z-index: -1;
}

.botaoGeo:hover::after {
  width: 100%;
}

.botaoGeo:hover {
  color: white;
}

.botaoPort {
  background-color: transparent;
  color: #b11399;
  border: 2px solid #b11399;
  position: relative;
}

.botaoPort::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #b11399;
  transition: width 0.5s ease;
  z-index: -1;
}

.botaoPort:hover::after {
  width: 100%;
}

.botaoPort:hover {
  color: white;
}

#title::selection {
  background-color: #adadad; /* Cor de fundo da seleção */
  color: #000000;              /* Cor do texto selecionado */
}

.botaoMath::selection {
  background-color: #923434; /* Cor de fundo da seleção */
  color: #fff;              /* Cor do texto selecionado */
}

.botaoCien::selection {
  background-color: #408c91; /* Cor de fundo da seleção */
  color: #fff;              /* Cor do texto selecionado */
}

.botaoGeo::selection {
  background-color: #1f8d4d; /* Cor de fundo da seleção */
  color: #fff;              /* Cor do texto selecionado */
}

.botaoPort::selection {
  background-color: #b11399; /* Cor de fundo da seleção */
  color: #fff;              /* Cor do texto selecionado */
}

.botaoDesafio::selection {
  background-color: #bfa200; /* Cor de fundo da seleção */
  color: #fff;              /* Cor do texto selecionado */
}

::selection {
  background-color: #fff; /* Cor de fundo da seleção */
  color: #fff;              /* Cor do texto selecionado */
}