* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(../img/FundoIndex.png); */
  width: 100vw;
  height: 100vh;
}

.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title {
  color: white;
  font-size: 60px;
  /* text-shadow: 15px 15px 20px black; */
  background-color: rgb(87, 87, 87);
  border-radius: 10px;
  padding: 8px;
  border: 1px solid black;
}

.button {
  flex-direction: row;
}

.botao {
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: rgb(87, 87, 87);
  font-size: 17px;
  border: 1px solid black;
  /* box-shadow: 10px 10px 15px black; */
  color: white;
  font-weight: bold;
  flex-direction: row;
}

a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
